# Ignore everything
*

# But not config files
!.gitignore
!.install.sh
!.bashrc
!.zshenv
!.config/
!.config/alacritty
!.config/alacritty/alacritty.toml
!.config/nvim/
!.config/nvim/**
!.config/i3/
!.config/i3/**
!.config/i3status/
!.config/i3status/**
!.config/tmux/
!.config/tmux/tmux.conf
!.config/zsh/
!.config/zsh/.zshrc

